@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
}

/* navbar fixed */
.navbar-fixed {
  @apply dark:border-divider-light shadow-inset__light dark:shadow-inset__dark fixed z-[999] bg-white bg-opacity-70 backdrop-blur-lg dark:bg-transparent dark:backdrop-blur-lg;
  transition-duration: 300ms;

  /* border-divider-light border-b bg-white/70 backdrop-blur dark:border-divider-dark dark:bg-slate-900/80 fm:hidden */
}

.border-divider-light {
  @apply border border-white;
}

/* Hamburger */
.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

@layer components {
  .header-link {
    @apply group-hover:text-accent3/100 mx-2 flex py-1 text-base font-semibold text-slate-900 lg:mx-4;
  }

  .header-link:hover {
    @apply text-secondary transition duration-200;
  }

  .header-link__label {
    @apply rounded-full border border-gray-300 px-2 py-1 text-xs dark:border-none;
  }

  .header-link:hover .header-link__label {
    @apply text-white;
  }

  .nav-link {
    @apply flex items-center gap-1 text-sm;
  }

  .nav-link--label {
    @apply bg-accent3/20 hover:bg-accent3/30  cursor-pointer rounded-full;
  }

  .nav-link--label--work {
    @apply rounded-full bg-accent1 px-5 py-3 hover:bg-accent2 lg:cursor-ew-resize lg:hover:bg-accent1;
  }

  .nav-link--label--work-lg {
    @apply bg-accent3/20 hover:bg-accent3/30 rounded-full px-5 py-3 lg:cursor-default;
  }

  .nav-link--label--a-white {
    @apply bg-slate-300/50 hover:bg-slate-300/70 dark:bg-slate-700/40 dark:text-slate-100 dark:hover:bg-slate-700/70;
  }

  .wrapper-max {
    @apply mx-auto w-full;
    max-width: 120rem;
  }

  .border-divider-light {
    opacity: 1;
    border-color: #e2e8f0;
  }

  .footer-link--soon {
    @apply cursor-not-allowed hover:text-slate-400;
    opacity: 1;
  }

  .icon-about {
    @apply mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 bg-accent1 text-secondaryGray hover:border-secondary hover:bg-secondary hover:text-white;
  }
  .icon-footer {
    @apply mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 text-slate-300 hover:border-secondary hover:bg-secondary hover:text-white;
  }

  .hamburger-line {
    @apply my-2 block h-[2px] w-[30px] bg-slate-950;
  }

  .footer-link {
    @apply flex h-8 w-full items-center gap-2 whitespace-nowrap text-base leading-5;
  }

  .footer-link:hover {
    @apply text-secondary transition duration-200;
  }

  .footer-link__label {
    @apply rounded-full border border-gray-300 px-2 py-1 text-xs;
  }

  .footer-link:hover .footer-link__label {
    @apply text-white;
  }

  .footer-link--soon {
    @apply cursor-not-allowed hover:text-slate-400;
    opacity: 1;
  }

  .animate {
    @apply transition duration-200 ease-in-out;
  }
}

@layer utilities {
  .color-animate {
    @apply transition-colors duration-1000;
  }

  .bg-svg-grid__light {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(226 232 240 / 0.8)' stroke-dasharray='5 3' transform='scale(1%2c -1)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }

  .bg-svg-grid__dark {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(248 250 252 / .025)' stroke-dasharray='5 3' transform='scale(1%2c -1)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }

  .shadow-inset__light {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  }

  .shadow-inset__dark {
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
  }
}
